<a href="/">Home</a> | <a href="/plays/<%= @play_slug %>">Up</a>
<% if @act_number > 1 %>
  | <a href="/plays/<%= @play_slug %>/act/<%= @act_number-1 %>">Prev</a>
<% end %>
<% if @act_number < @act_count %>
  | <a href="/plays/<%= @play_slug %>/act/<%= @act_number+1 %>">Next</a>
<% end %>

<%= @act.html %>

<a href="/">Home</a> | <a href="/plays/<%= @play_slug %>">Up</a>
<% if @act_number > 1 %>
  | <a href="/plays/<%= @play_slug %>/act/<%= @act_number-1 %>">Prev</a>
<% end %>
<% if @act_number < @act_count %>
  | <a href="/plays/<%= @play_slug %>/act/<%= @act_number+1 %>">Next</a>
<% end %>

