<a href="/">Home</a> | <a href="/plays/<%= @play_slug %>">Up</a>
<% if @act_number > 1 %>
  | <a href="/plays/<%= @play_slug %>/act/<%= @act_number-1 %>">Prev</a>
<% end %>
<% if @act_number < @act_count %>
  | <a href="/plays/<%= @play_slug %>/act/<%= @act_number+1 %>">Next</a>
<% end %>

<%= @act.html %>
<section id="comments">
  <form action="<%= url("/plays/#{@play.slug}/act/#{@act.number}/comments") %>" charset="utf-8" method="POST">
    <input name="authenticity_token" value="<%= csrf_token %>" type="hidden">
    <textarea name="comment[body]"></textarea>
    <p><input type="submit" value="Add comment"></p>
  </form>

  <% @comments.each do |comment| %>
    <div class="comment">
      <%= ERB::Util.h(comment.body) %>
    </div>
  <% end %>
</section>
<a href="/">Home</a> | <a href="/plays/<%= @play_slug %>">Up</a>
<% if @act_number > 1 %>
  | <a href="/plays/<%= @play_slug %>/act/<%= @act_number-1 %>">Prev</a>
<% end %>
<% if @act_number < @act_count %>
  | <a href="/plays/<%= @play_slug %>/act/<%= @act_number+1 %>">Next</a>
<% end %>

